@page
@model old_forum.Pages.Topic

@{
    ViewData["Title"] = Model.Posts.FirstOrDefault()?.Title ?? "Topic Not Found";
    Layout = "_Layout";
    ViewData["BoardId"] = Model.BoardId;
}

@section Styles {
    <link rel="stylesheet" href="css/topic.css" />
}

<div class="topic">
    <h3 class="topic-title">@(Model.Posts.FirstOrDefault()?.Title ?? "")</h3>
    <ul class="posts">
        @foreach (var post in Model.Posts)
        {
            <li class="post" id="post_@post.Id">
                <div class="post-info">
                    <a class="post-author" asp-page="/User" asp-route-id="@post.UserId">@post.Username</a>
                    <span class="post-date">@post.Date.ToString("dd MMMM yyyy HH:mm")</span>
                </div>
                <div class="post-content">
                    @post.Content
                </div>
                <button id="post_" type="submit" class="post-save" onclick="onSaveClick(@post.Id)">Save</button>
            </li>
        }
    </ul>
    @Html.AntiForgeryToken()
</div>

<script defer>
    function onSaveClick(postId) {
        const token = document.querySelector('[name="__RequestVerificationToken"]')?.value
        
        if (!token) {
            console.log("Token not found")
            return
        }
        
        fetch("/Topic?handler=SavePost", {
        method: "POST",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'RequestVerificationToken': token
        },
        body: new URLSearchParams({
                PostId: postId
            })
        })
        .then(res => {
            if (res.ok) {
                const btn = document.querySelector(`#post_${postId}`)?.querySelector("button");
                if (btn) btn.textContent = "Saved";
            }
        }).catch(err => {
            console.log(err)
        })
    }
</script>
