@page
@using System.Globalization
@model archive_browser.Pages.Board

@{
    ViewData["Title"] = Model.BoardName;
    Layout = "_Layout";
    ViewData["BoardId"] = Model.BoardId;
}

@functions {
    static string GetActiveClass(int curPage, int page) => curPage == page ? "active" : "";
    static string GetDisabledClass(int curPage, int limitingPage) => curPage == limitingPage || limitingPage == -1 ? "disabled" : "";
}

<div class="board">
    <div class="search">
        <form method="get" class="search-form" asp-route-id="5">
            <input type="radio" id="asc" value="ASC" name="order" checked/>
            <label for="asc">↑</label>
            <input type="radio" id="desc" value="DESC" name="order" @(Model.Order == Order.DESC ? "checked" : "")/>
            <label for="desc">↓</label>
            <input type="date" id="start" name="start"/>
            <input type="text" id="author" name="author" placeholder="Author"/>
            <input type="text" id="poster" name="poster" placeholder="Poster"/>
            <input type="text" id="topic" name="topic" placeholder="Topic"/>
            <input type="hidden" name="id" value="@Model.BoardId"/>
            <button type="submit" value="Submit">Search</button>
        </form>
    </div>
    <div class="topics">
        <div class="board-headers">
            <span class="board-header board-col-1">Thread/Author</span>
            <span class="board-header board-col-2">Replies</span>
        </div>
        <ul>
            @{int i = 0;}
            @foreach (var topic in Model.Topics)
            {
                <li class="board-item @(i % 2 == 0 ? "darker" : "")">
                    <div class="board-col-1">
                        <a class="board-item-title" asp-page="/Topic" asp-route-id="@topic.Id" asp-route-boardId="@Model.BoardId">
                            @topic.Title
                        </a>
                        <div class="board-item-info">
                            <a class="board-item-author" asp-page="/User" asp-route-id="@topic.UserId">@topic.username,</a>
                            <span class="board-item-date">@topic.Date.ToString("dd MMMM yyyy")</span>
                        </div>
                    </div>
                    <div class="board-col-2">
                        <div>@(topic.TotalPosts-1)</div>
                    </div>
                </li>
                i++;
            }
        </ul>
    </div>

    <div class="paging">
        <ul class="paging-pages">
            <li class="paging-item">
                <a class="paging-link @GetDisabledClass(Model.CurPage, Model.Paging.Take(1).FirstOrDefault(-1))"
                   asp-page="/Board"
                   asp-route-id="@Model.BoardId"
                   asp-route-pg="@(Model.CurPage - 1)"
                   asp-route-topic="@Model.Topic"
                   asp-route-order="@Model.Order"
                   asp-route-author="@Model.Author"
                   asp-route-poster="@Model.Poster"
                   asp-route-start="@Model.Start">
                    Previous
                </a>
            </li>
            @foreach (var pg in Model.Paging)
            {
                <li class="paging-item">
                    <a class="paging-link @GetActiveClass(Model.CurPage, pg)"
                       asp-page="/Board"
                       asp-route-id="@Model.BoardId"
                       asp-route-pg="@pg"
                       asp-route-topic="@Model.Topic"
                       asp-route-order="@Model.Order"
                       asp-route-author="@Model.Author"
                       asp-route-poster="@Model.Poster"
                       asp-route-start="@Model.Start">
                        @pg.ToString()
                    </a>
                </li>
            }
            <li class="paging-item">
                <a class="paging-link @GetDisabledClass(Model.CurPage, Model.Paging.TakeLast(1).FirstOrDefault(-1))"
                   asp-page="/Board"
                   asp-route-id="@Model.BoardId"
                   asp-route-pg="@(Model.CurPage + 1)"
                   asp-route-topic="@Model.Topic"
                   asp-route-order="@Model.Order"
                   asp-route-author="@Model.Author"
                   asp-route-poster="@Model.Poster"
                   asp-route-start="@Model.Start">
                    Next
                </a>
            </li>
        </ul>
    </div>
</div>
